*{
    font-family: sans-serif;
    
}
header{
    font-weight: 700;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
} 
.nav_div1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}
.nav_div1>img{
    height: 30px;
}
.nav_div2>ul >li{
    font-size: 12px;
}
.g{
    padding-left: 10px;
    color: #FF42A5;
}
.nav_div2>ul{
    display: flex;
    list-style: none;
}
.nav_div2>ul >li{
    padding: 15px;
}
.section_1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.s1d1{
    background-image: url(images/Group\ 14.png);
    height: 475px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    text-align: inherit;
}
.sub_s1{
    margin-top: 115px;
}
.s1d1 h1{
    font-size: 45px;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    /* background-clip: text; */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.sub_s1 button{
    background-color: #F948B2;
    color: white;
    border: 0;
    padding: 10px 15px;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 500;
}
.ndbttn{
    background-color: #4EC5F7 !important;
}
.s1d2{
    width: 50%;
}
.s1d2 img{
    width: 100%;
}
.sec_2_div1{
    width: 50%;
}
.sec_2_div1 > .img2{
    width: 85%;
}
.sec_2_div2 h1{
    font-size: 45px;
    font-weight: 800;
}
.sec_2_div2{
    width: 40%;
}
.sec_2_div2 span{
    font-size: 45px;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    /* background-clip: text; */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.sec_2_div1 > .imgs{
    margin-left: -85px;
    width: 21%;
}
.section_2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5vh 0;
}

/* section_4 */
.sect_4{
    display: flex;
    background-color: #FFF9FC;
    height: 430px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.sect_4_img{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: white;
    height: fit-content;
    padding: 10px 20px;
    margin: 0 14px 0 14px;
    cursor: pointer;
}
.sect_4_img:hover{
    border: 2px solid var(--primClr);
    color: var(--primClr);
}
.sect_4_img h4{
    margin-left: 15px;
}
















footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 640px;
    background-color: black;
}
.ft_lgo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}
.ft_lgo_g{
    color: white;
    font-size: 30px;
}
.ft_lgo_g>span{
    font-size: 40px;
    color: rgb(242, 73, 101);
}
.ft_txt1{
    display: grid;
    grid-template-columns: repeat(6,95px);
    color: white;
    font-weight: 500;
    column-gap: 2rem;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 30px 0;
}
.ft_lgo_icn{
    display: grid;
    grid-template-columns: repeat(6,50px);
    color: white;
    font-size: 26px;
    font-weight: 500;
    column-gap: 2rem;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 50px 0;
}
.ft_txt2{
    display: grid;
    grid-template-columns: repeat(4,185px);
    color: white;
    font-weight: 500;
    column-gap: 1rem;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 40px 0;
    opacity: .5;
}
.ft_div_s{
    color: white;
    text-align: center;
    opacity: .5;
}
.carddd >img{
    height: 20rem;
    margin: 0 10px;
    gap: 30px;
}

.cards{
    text-align: center;

}










/* --------For Mobile View---------------------- */


@media screen and (max-width:576px) {

    nav{
        flex-direction: column;
        height: 245px;
    } 
    .nav_div2>ul{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .section_1{
        flex-direction: column-reverse;
    }
    /* Section_2 */
    .section_2 {
        flex-direction: column-reverse;
        row-gap: 10vh;
    }
    /* section_4 */

    /* section_4 */
        .sect_4{
            padding: 0 18px;
            justify-content: start;
        }
        .sect_4_img{
            width: 100px;
            padding: 2px 0;
            margin: 0 0 0 5px;
        }
        .sect_4_img img{
            width: 12%;
        }
        .sect_4_img h4{
            margin-left: 4px;
            font-size: 8px;
        }








    /* Footer Style */

    .ft_txt1{
        grid-template-columns: repeat(3,90px);
        column-gap: 2rem;
    }
    .ft_lgo_icn{
        display: grid;
        grid-template-columns: repeat(3,50px);
        color: white;
        font-size: 26px;
        row-gap: 20px;
    }
    .ft_txt2{
        grid-template-columns: repeat(2,180px);
        column-gap: 1rem;
    }
}






/* --------For Tablet View---------------------- */


@media screen and (min-width:576) and (max-width:768px) {

    nav{
        flex-direction: column;
        height: 245px;
    } 
    .nav_div2>ul{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .section_1{
        flex-direction: column-reverse;
    }
    /* Section_2 */
    .section_2 {
        flex-direction: column-reverse;
        row-gap: 10vh;
    }









     /* Footer Style */

     .ft_txt1{
        grid-template-columns: repeat(3,90px);
        column-gap: 2rem;
    }
    .ft_lgo_icn{
        display: grid;
        grid-template-columns: repeat(3,50px);
        color: white;
        font-size: 26px;
        row-gap: 20px;
    }
    .ft_txt2{
        grid-template-columns: repeat(2,180px);
        column-gap: 1rem;
    }
}